
dy,
input,
button,
select,
textarea {
  font: 15px/25px "Roboto", "Helvetica Neue", Helvetica, arial, sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

body {
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin-top: 0px;
  line-height: 1.4em;
}

a {
  color: #7ECEFD;
  text-decoration: none;
}

a:hover, a:focus {
  color: #3E454C;
}

p {
  margin: 12px 0px;
}

.container {
  max-width: 400px;
  margin: 30px auto;
}

header {
  margin-top: 50px;
}

header h1 {
  font-size: 100px;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 0.7em;
  margin-bottom: 0px;
  margin-left: -8px;
}

header h1 b {
  font-weight: 700;
  line-height: 1.3em;
  font-size: 96px;
  margin-bottom: 0px;
}

.small-ital {
  font-style: italic;
  font-size: 30px;
  text-transform: lowercase;
  color: #999;
}

header h3 {
  text-transform: lowercase;
}

a.signup {
  padding: 10px 15px 10px 10px;
  background-color: #7ECEFD;
  color: #fff;
  margin: 35px 0px;
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

a.signup:hover, a.signup:focus {
  background-color: #3E454C;
}

